header{
    background-image: url('../images/1.jpg');
    background-size: 100%;
    width: 100%;
    height: 150px;
    color: white;
    top: 0px;
    position: relative;
}
header>h1{
  position: absolute;
    left: 17%;
    margin-top: 15px;
    font-size: 50px;
    line-height: 50px;   
}
header>p{
    position: absolute;
    margin-top: 70px;
    margin-left: 17%;
    font-size: 25px;
}
header>p>img{
    width: 25px;
    height: 25px;
}
footer{
    width: 100%;
    height: 120px;
    text-align: center;
    background-color: rgb(37, 33, 48);
    margin-top: 50px;
  }
  footer>img{
    width: 4%;
    height: 60px;
    border-radius: 50%;
    margin-top: 10px;
  }
  footer>p{
    color: white;
    font-size: 17px;
  }
article{
    width: 1200px;
    text-align: center;
    margin: 0 auto;
    min-height: 900px;
}
.box1{
    margin: 100px auto;
    color: rgb(78, 78, 78);
    min-height:150px;
}
.box2{
    width: 340px;
    float: left;
    text-align: left;
    height: 240px;
    position: relative;
    color: rgb(78, 78, 78);
}
.box2>img{
    height: 80px;
}
.box2>h2{
    position: absolute;
    top: 0px;
    right: 5px;
    color: rgb(255, 123, 0);
}
.box3{
    width: 840px;
    float: right;
    height: auto;
}
.column{
    float: left;
}
.box4{
    width: 240px;
    height: 140px;
    margin: 15px;
    border: 1px solid rgb(223, 217, 217);
    position: relative;
}
.box4>h6{
    position:absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    width: 100%;
}
.heightmedium{
    height: 580px;
}
.mall{
    height: 420px;
}